{% extends "cms/statistics.html" %}
{% load django_tables2 %}

{% block content %}


<form action="{% url 'cinema_update' cinema_form.instance.pk %}" method="post" enctype="multipart/form-data"
      xmlns="http://www.w3.org/1999/html">

    {% csrf_token %}

    <div class="p-2">
       <div class=" col d-flex justify-content-end ">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="lang-switcher">
                    <label class="btn btn-secondary active" data-lang="ru">
                        <input type="radio" name="options" checked > RUS
                    </label>
                    <label class="btn btn-secondary" data-lang="en">
                        <input type="radio" name="options"  > ENG
                    </label>
                </div>
            </div>


        <div class="row lang-block lang-ru">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Название кинотеатра</span>
                    </div>
                    {{ cinema_form.title_ru}}
<!--                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
                </div>
            </div>
        </div>

         <div class="row lang-block lang-en d-none">
            <div class="col-md-4">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" >Cinema title</span>
                    </div>
                    {{ cinema_form.title_en}}
<!--                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">-->
                </div>
            </div>
        </div>








        <div class="row lang-block lang-ru">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Описание</span>
                    </div>
                    {{cinema_form.description_ru }}

                </div>
            </div>
        </div>

        <div class="row lang-block lang-en d-none">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    {{cinema_form.description_en }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Условия</span>
                    </div>
                    {{cinema_form.conditions}}
                </div>
            </div>
        </div>

        <div id="bannerAndLogo-wrapper">
            <div class="row">
                <div  class="col-md-2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Логотип</span>
                        </div>
                    </div>
                </div>

                <div class="card col-md-2" style="width: 20rem;">
                    {% if cinema_form.instance.main_image %}
                    <img id="mainImagePreview" src="{{ cinema_form.instance.main_image.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img id='mainImagePreview' src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673-960x960.png" class="card-img-top" alt="...">
                    {% endif %}
                </div>
                <div  class="col-md-2 d-flex align-items-center">
                    <button type="button" id="uploadLogoBtn" class="btn btn-success">Загрузить</button>
                </div>
                {{ cinema_form.main_image }}
                <div  class="col-md-2 d-flex align-items-center">
                    <button type="button" id="deleteLogoBtn" class="btn btn-danger">Удалить</button>
                </div>
            </div>

            <div class="row">
                <div  class="col-md-2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Фото верхнего баннера</span>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2" style="width: 20rem;">
                    {% if cinema_form.instance.image_top_banner %}
                    <img id="ImageTopBannerPreview" src="{{ cinema_form.instance.image_top_banner.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img id='ImageTopBannerPreview' src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673-960x960.png" class="card-img-top" alt="...">
                    {% endif %}
                </div>
                <div  class="col-md-2 d-flex align-items-center">
                    <button type="button" id="uploadImageTopBannerBtn" class="btn btn-success">Загрузить</button>
                </div>
                {{ cinema_form.image_top_banner }}
                <div  class="col-md-2 d-flex align-items-center">
                    <button type="button" id="deleteImageTopBannerBtn" class="btn btn-danger">Удалить</button>
                </div>
            </div>
        </div>


<!--Болки галерея картинок &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
  <!--Болки галерея картинок &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
    <div class="gallery-wrapper" id="gallery-wrapper">
        <div class="row mb-3">
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Галерея картинок:</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Размер: 1000х190</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Контейнер для галереи -->
        <div class="row" id="gallery-container">
            {{ formset_gallery.management_form }}
            {% for form in formset_gallery %}
            <div class="col-md-2 gallery-item mb-3">
                {{ form.id }}
                <div style="display: none;">{{form.DELETE}}</div>
                <!-- Кнопка удалить -->
                <button type="button" class="btn btn-danger w-100 mb-2 remove-image">Удалить</button>
                <!-- Превью -->
                {% if form.instance.pk and form.instance.image%}
                <img class="card-img-top preview mb-2" src="{{ form.instance.image.url }}" alt="preview">
                {% else %}
                <img class="card-img-top preview mb-2" src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673-960x960.png" alt="...">
                {% endif %}
                <!-- Загрузить -->
                <button type="button" class="btn btn-success w-100 mb-2 upload-btn">Загрузить</button>
                {{ form.image }}
            </div>
            {% endfor %}
        </div>
        <!-- Кнопка добавить -->
        <div class="row">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary w-100" id="add-gallery-item">
                    <i class="fas fa-plus"></i> Добавить
                </button>
            </div>
        </div>


        <!-- Скрытый шаблон для новых форм -->
        <div id="empty-gallery-form" style="display: none;">
            {% with form=formset_gallery.empty_form %}
            <div class="col-md-2 gallery-item mb-3">
                {{ form.id }}
                <div style="display: none;">{{form.DELETE }}</div>
                <button type="button" class="btn btn-danger w-100 mb-2 remove-image">Удалить</button>
                <img src="https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673-960x960.png" class="card-img-top preview mb-2" alt="placeholder">


                {{ form.image }}
                <button type="button" class="btn btn-success w-100 mb-2 upload-btn">Загрузить</button>
            </div>
            {% endwith %}
        </div>
    </div>





<!--Закрыл блоки галерея картинок &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->


        <div class="text-center mt-5">
            <h1>Список залов</h1>
        </div>

        <div class="card-body ">
        {% render_table hall_table %}
        </div>


         <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-center mt-5">
                <a href="{% url 'hall_create' cinema.id %}" class="btn btn-primary">
                    Создать зал </a>
            </div>
        </div>




        <div class="row mt-5">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">SEO Блок:</span>
                    </div>
                    <div class="d-flex flex-column align-items-center w-100">

                        <div class="mb-2 w-50 text-center">
                            {{ seo_form.url.placeholder }}
                            <div class="mb-2 w-100 d-flex align-items-center justify-content-center">
                                <span class="me-2 mr-2 text-muted">{{ seo_form.url.label }}</span>


                                {{ seo_form.url }}
                            </div>
                        </div>

                        <div class="mb-2 w-50 text-center">
                            {{ seo_form.title.placeholder }}
                            <div class="mb-2 w-100 d-flex align-items-center justify-content-center">
                                <span class="me-2 mr-2 text-muted">{{seo_form.title.label}}</span>
                                {{ seo_form.title }}
                            </div>
                        </div>


                        <div class="mb-2 w-50 text-center">
                            {{ seo_form.key_words.placeholder }}
                            <div class="mb-2 w-100 d-flex align-items-center justify-content-center">
                                <span class="me-2 mr-2 text-muted">{{seo_form.key_words.label}}</span>
                                {{ seo_form.key_words }}
                            </div>
                        </div>


                         <div class="mb-2 w-50 text-center">
                            {{ seo_form.description.placeholder }}
                            <div class="mb-2 w-100 d-flex align-items-center justify-content-center">
                                <span class="me-2 mr-2 text-muted">{{seo_form.description.label}}</span>
                                {{ seo_form.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-12 d-flex justify-content-center mt-5">

                <button type="submit" class="btn btn-primary">
                    сохранить
                </button>
            </div>
        </div>


    </div>

</form>


<script>

document.addEventListener('DOMContentLoaded', function (){


     /// реализация переключения полей языка
    const switcher = document.getElementById('lang-switcher'); // нахожу контейнер с перекл языка
    const blocks = document.querySelectorAll('.lang-block'); // нахожу блок ввода



    switcher.addEventListener('click', function (event) {
        const btn = event.target.closest('[data-lang]');
        if (!btn) return;
        const lang = btn.dataset.lang;

        blocks.forEach(function(block) {
        block.classList.add('d-none');
    });

        blocks.forEach(function(block) {
        if (block.classList.contains('lang-' + lang)) {
            block.classList.remove('d-none');
        }
    });

        // подсветка активной кнопки
        const labels = switcher.querySelectorAll('label');
        labels.forEach(function(label) {
            label.classList.remove('active');
        });
        btn.classList.add('active');
    });

    /// ОТВЕЧАЕТ ЗА ГАЛЕРЕЮ КАРТИНОК


    const galleryWrapper = document.getElementById('gallery-wrapper');
    const Form = document.getElementById('empty-gallery-form').querySelector('.gallery-item')
    const totalForm =  document.getElementById('id_gallery-TOTAL_FORMS')
    const galleryContainer = document.getElementById('gallery-container')

    /// ОТВЕЧАЕТ ЗА ЗАГРУЗКУ КАРТИНКИ ЛОГОТИ И БАННЕР
    const bannerAndLogoWrapper = document.getElementById('bannerAndLogo-wrapper')
    const placeholderLogo = 'https://www.nomadfoods.com/wp-content/uploads/2018/08/placeholder-1-e1533569576673-960x960.png';

    bannerAndLogoWrapper.addEventListener('click', function (event){

        /// удаление логитпа

        if (event.target.id === 'deleteLogoBtn') {
            const input = document.querySelector('input[name="cinema_form-main_image"]');
            input.value = ''

            const preview = document.getElementById('mainImagePreview');
            preview.src = placeholderLogo
        }


        // загрузка логитпа
        if(event.target.id === 'uploadLogoBtn') {
            document.querySelector('input[name="cinema_form-main_image"]').click();

        }

        /// удаление баннера
        if (event.target.id === 'deleteImageTopBannerBtn') {
            const input = document.querySelector('input[name="cinema_form-image_top_banner"]');
            input.value = ''

            const preview = document.getElementById('ImageTopBannerPreview');
            preview.src = placeholderLogo
        }


        // загрузка баннера
        if (event.target.id === 'uploadImageTopBannerBtn') {
            document.querySelector('input[name="cinema_form-image_top_banner"]').click();
        }
    })

    /// ОТВЕЧАЕТ ЗА ЗАМЕНУ КАРТИНКИ ЛОГОТИПА И БАННЕРА
    bannerAndLogoWrapper.addEventListener('change', function (event) {
        if (event.target.type === 'file') {
             /// создаю реадер
            const reader = new FileReader();

            /// если в событии тип фаил то запипсываю фаил в костанту
            const file = event.target.files[0];

            let previewId; /// создаю временную переменную для храниения названия превью

            if (event.target.name === 'cinema_form-main_image') {
                previewId = 'mainImagePreview';

            }
            else if (event.target.name === 'cinema_form-image_top_banner') {
                previewId = 'ImageTopBannerPreview'
            }

            /// тут получаю место где лежит старая картинка или плейсхолдер
            const img = document.getElementById(previewId);


            // тут я обращаюсь к reader и меняю старое фото на новое
            reader.onload = function (e) {
                img.src = e.target.result
            };
                // передаю путь к изображени в url формате для вывода
            reader.readAsDataURL(file)

        }
    })






    /// находит элемент по id
    /// Смена плейсхолдера на картинку
    galleryWrapper.addEventListener('change', function (event){ // слушаю galleryWrapper если в нем будет
        /// change то браузер вызовит функцию и пеередаст в нее событие

        if (event.target.type === 'file') {

            /// создаю реадер
            const reader = new FileReader();

            /// если в событии тип фаил то запипсываю фаил в костанту
            const file = event.target.files[0];
            /// тут получаю место где лежит старая картинка или плейсхолдер
            const img = event.target.closest('.gallery-item').querySelector('.preview');


            // тут я обращаюсь к reader и меняю старое фото на новое
            reader.onload = function (e) {
                img.src = e.target.result
            };
                // передаю путь к изображени в url формате для вывода
            reader.readAsDataURL(file)
        }
    });




    galleryWrapper.addEventListener('click', function (element){
        // добавить иконку


        if (element.target.closest('#add-gallery-item')) {
            let formCount = parseInt(totalForm.value);

            let newForm = Form.cloneNode(true)


            newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formCount);
            totalForm.value = formCount + 1;

            newForm.hidden = false;
            galleryContainer.appendChild(newForm);


        }



        /// Загрузить картинку
        if (element.target.classList.contains('upload-btn')) {
            console.log('Нажата кнопка загрузит', element.target);
            const input = element.target.closest('.gallery-item').querySelector('input[type="file"]');
            input.click();
        }
        /// УДАЛИТЬ КАРТИКУ
        if (element.target.classList.contains('remove-image')) {
            console.log('click ', element.target)
            const block = element.target.closest('.gallery-item');
            console.log('блок формы', block);
            /// closest - находит ближайший родительский контейнер контейнера remove-image то еть gallery-item
            ////// <input type="hidden" name="gallery-2-id" id="id_gallery-2-id"
            const block_id = block.querySelector('input[name$="-id"]')
            console.log('блок id',  'value',block_id.value);

            const deleteCheckbox = block.querySelector('input[name$="-DELETE"]');
            console.log('чек блок формы', deleteCheckbox.checked);


            if (block_id.value !=='') {
                deleteCheckbox.checked = true;
                block.hidden = true;
                console.log('check блок формы:', deleteCheckbox.checked);
            }
            else {
                block.remove()
                totalForm.value = parseInt(totalForm.value) -1


            }
        }
    });});


</script>








{% endblock%}