{% extends "cms/statistics.html" %}
{% load django_tables2 %}
{% block content %}

<div class="row align-items-center">
    <div class="col-md-10 text-center">
        <h1 class="mb-0">
            {% if content_type == 'news' %}
            Список новостей
            {% elif content_type == 'action' %}
            Список акций

            {% endif %}
        </h1>
    </div>

    <div class="col-md-2 text-end ">
        <a href="{% url 'content_create' slug %} " class="btn btn-primary ">
            {{ active_page}}
            {{content_type}}
            {% if slug == 'news' %}

            Создать новость
             {% elif slug == 'action' %}
            Создать акцию
            {% endif %}

        </a>
    </div>
    <div class="card-body ">
<!--        update_table-->
        {% render_table table %}
        </div>
</div>
{% endblock %}
