{% extends "cms/statistics.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'cms/css/news.css' %}">
{% endblock %}


{% block content %}


<form  method="post" action="{% url 'news' %}">
        {% csrf_token %}
    <!--Панель ВКЛ и выбор языка-->
    <div class="container1 d-flex justify-content-between align-items-center">

        <!-- Блок вкл-выкл-->
        <div class="custom-control custom-switch ">
            {{ form.is_active }}
            <label class="custom-control-label" for="news_switch">ВКЛ</label>
        </div>

    <!-- Правый блок -->
        <div class="language">
            <a href="#" class="btn btn-outline-secondary mr-2">
                <i class="fas fa-language"></i> Русский
            </a>
            <a href="#" class="btn btn-outline-secondary">
                <i class="fas fa-language"></i> Украинский
            </a>
        </div>
    </div>

        <div class="input-group input-group-sm mb-3 w-20">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Название новости</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>








</form>
{% endblock %}