{% load i18n %}
    {% for banner in banners %}

<div class="container mt-5    p-4" style="background-color: #313549; max-width: 1500px ">

  <div class="container-fluid">

    <a href="/"> {%translate 'Главная' %} </a>




    <div class="d-flex justify-content-end">
       {% if request.user.is_authenticated %}
        <p>{% translate ' Добро пожаловать,' %} {{ request.user.username }}!</p>

      <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">
              {% translate 'Выйти'%}

            </button>
        </form>
    {% else %}
        <p> {%translate ' Добро пожаловать, Гость!' %} </p>
         <button type="button" class="btn btn-primary btn-sm mr-2 mb-2" data-toggle="modal" data-target="#authModal">
           {% translate 'Авторизация'%}
        </button>
    {% endif %}


    </div>




      <div id="carousel{{ forloop.counter }}" class="carousel slide "  data-ride="carousel" >
        <div class="carousel-inner">
          {% for slide in banner.slider.all %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ slide.image.url }}" class="d-block w-100" style=" height:190px; object-fit: cover;">
            {% if slide.text %}
            <div class="carousel-caption d-none d-md-block">
              <p>{{ slide.text }}</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel{{ forloop.counter }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carousel{{ forloop.counter }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>

<!--    \\\навигациЯ по сайту-->
    {% include "main/includes/navigation.html" %}




<!--    модалка для авторизации -->

    <form action="{% url 'user_login' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
      <div class="modal fade bg-transparent" id="authModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog bg-transparent" >
          <div class="modal-content bg-dark">
            <div class="modal-header">
              <h4 class="modal-title text-center w-100 bg-transparent">{%translate 'Авторизация'%}</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body " style="background-color: #313549; max-width: 1500px ">

              <input name="login_name" type="text" class="form-control input-sm bg-transparent" style="width:174px" title="Логин" placeholder="{% translate 'Логин' %}">
              <input name="login_password" type="password" class="form-control input-sm bg-transparent" style="width:174px" title="Пароль" placeholder="{% translate 'Пароль' %}" >
            </div>
            <div class="modal-footer justify-content-between">
              <button type="submit" class="btn btn-primary">{%translate 'Войти' %}</button>
              <a href="{% url 'user_register' %}" class="btn btn-primary">{% translate 'Регистрация' %}</a>

            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- /.modal-content -->


  </div>
</div>




    {%endfor%}