<style>



.MiniPost {
    display: flex;
    flex-direction: column;
    width: 150px;
    box-shadow: 0 1px 4px 0 #000 !important;
    border-radius: 3px;
    overflow: hidden;
}
.MiniPostPoster {
    height: 200px;
}

.MiniPostPoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.WatchTodayWrapper {
    display: flex; /* элементы в ряд */
    gap: 12px;
    flex-wrap: wrap;
}
.MiniPostName {
    height: 20px;
    margin-bottom: 3px;
    overflow: hidden;
}
</style>



<div class="container mt-2    p-4" style="background-color: #313549; max-width: 1200px ">
{% if movies %}
    <h1>Смотрите сегодня</h1>
    <div class="WatchTodayWrapper">
        {% for movie in movies %}
        <div class="MiniPost WatchToday">
            <a href="{% url 'movie_detail' movie.id %}" class="MiniPostPoster" title="">
                <img src="{{movie.main_image.url}}" alt="movie">
            </a>

            <div class="MiniPostName">
                <a href="">{{movie.title}}</a>
            </div>
            <div class="MiniPostName">
                <a href="">Button Bay Ticket</a>
            </div>

        </div>

        {%endfor%}
    </div>

    {%endif%}
</div>




