


<div class="btn-group mt-2" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary">Афиша</button>

      <button type="button" class="btn btn-secondary">Расписание</button>
      <button type="button" class="btn btn-secondary">Скоро</button>
      <button type="button" class="btn btn-secondary">Кинотеатры</button>
      <button type="button" class="btn btn-secondary">Акции</button>


      <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          О кинотеатре
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Новости</a>
          <a class="dropdown-item" href="#">Реклама</a>
          <a class="dropdown-item" href="#">Кафе</a>
          <a class="dropdown-item" href="#">Мобильное приложение</a>
          <a class="dropdown-item" href="#">Контакты</a>
        </div>
      </div>
    </div>
