{% extends "main/base_page.html" %}
{%block banner%}






    {% for banner in banners %}


<div id="carouselExampleInterval" class="carousel slide mx-auto" style="width: 75%;" data-ride="carousel">
        <div id="carousel{{ forloop.counter }}" class="carousel slide  "  data-ride="carousel" >
            <div class="carousel-inner">
                {% for slide in banner.slider.all %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">

                    <img src="{{ slide.image.url }}" class="d-block w-100" style="width: 1000px; height:700px; object-fit: cover;">
                    {% if slide.text %}
                    <div class="carousel-caption d-none d-md-block">
                        <p>{{ slide.text }}</p>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel{{ forloop.counter }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carousel{{ forloop.counter }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
</div>


    {%endfor%}
    {%endblock%}

{% block topbanner %}
    <h2>222</h2>
{% endblock %}








