{% extends "main/base_page.html" %}
{%block content%}
<style>



.MiniPost {
    display: flex;
    flex-direction: column;
    width: 150px;
    box-shadow: 0 1px 1px 0 #000 !important;

    overflow: hidden;
}
.MiniPostPoster {
    height: 200px;
}

.MiniPostPoster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.WatchTodayWrapper {
    display: flex; /* элементы в ряд */
    gap: 12px;
    flex-wrap: wrap;
}
.MiniPostName {
    height: 20px;
    margin-bottom: 3px;
    overflow: hidden;
}


.hall-scheme .screen .caption {
    text-transform: uppercase;
    color: #a1a1a1;
    background-color: #313549;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    padding: 0 6px;
    font: 14px / 14px Arial, Helvetica, sans-serif;
}
</style>


<div class="container mt-2   p-4" style="background-color: #313549; max-width: 1200px; ">


    <h2>The Booking page</h2>
    <h1>UpBanner</h1>
    {{format_movie}}

    <div class="MainContainer">
        <div class="container">
            <div class="row" style="height: 800px;">

                <div class="col-2 align-self">
                    <div class="MiniPost WatchToday">
                        <a href="" class="MiniPostPoster" title="">
                            <img src="{{movie.main_image.url}}" alt="movie">
                        </a>

                        <div class="MiniPostName">
                            <a href="{% url 'movie_detail' movie.id %}">{{movie.title}}</a>
                        </div>
                        <div class="MiniPostName">
                            <a href="">Button Bay Ticket</a>
                        </div>
                    </div>
                </div>

                <div class="col-10 bg-secondary text-white">
                    <div class="DiscMovieConteiner">
                        <span class="Title">{{movie.title}} </span>
                        <span class="DateSession">{{session.date}}</span>
                        <span class="DateSession">{{session.time}}</span>
                        <span class="DateSession">{{session.hall.number}}</span>
                    </div>

                    <div class="">
                         <span class="Title mr-5">Price </span>
                         <span class="Title mr-5">reserved </span>
                         <span class="Title mr-5">You order </span>
                    </div>

                    <div class="hall-scheme text-center mt-5">
                        <div class="screen">
                            <div class="caption">Screen</div>
                        </div>
                    {%include "main/includes/scheme.html"%}
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>


{%endblock%}